<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.wydemo.mapper.RoleMapper">

    <select id="selectBackRoleCount" resultType="java.lang.Long">        SELECT
        COUNT(id)
        FROM
        t_role
        <where>
            <if test="param.keyword != null and para.keyword != ''">
                role_name like concat('%',#{param.keyword},'%')
            </if>
            <if test="param.isDisable != null">
                and is_disable = #{param.isDelete}
            </if>
        </where></select>
    <select id="selectBackRoleList" resultType="com.wy.wydemo.model.vo.request.RoleResp">
        SELECT id,
        role_name,
        role_desc,
        is_disable,
        create_time
        FROM t_role
        <where>
            <if test="param.keyword != null and para.keyword != ''">
                role_name like concat('%',#{param.keyword},'%')
            </if>
            <if test="param.isDisable != null">
                and is_disable = #{param.isDelete}
            </if>
        </where>
        ORDER BY id
        LIMIT #{param.current},#{param.size}
    </select>
</mapper>